@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
hgroup,
hr,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
optgroup,
option,
output,
pre,
progress,
q,
s,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video,
article,
header,
footer,
nav,
section,
aside,
button,
input,
label,
textarea,
table,
tbody,
thead,
tfoot,
tr,
td,
th,
div,
span,
a,
em,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
pre,
code,
figure,
figcaption,
cite,
abbr,
address,
time,
samp,
var,
kbd,
sub,
sup,
del,
ins,
mark,
small,
big,
s,
strike,
u,
button,
canvas,
details,
fieldset,
legend,
table,
button,
fieldset,
input,
object,
select,
textarea,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


















:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --font-roboto: Roboto;
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
  --linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --violet: #4f3c74;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Space Grotesk' ,sans-serif;
  line-height: 1;
  overflow-y: hidden;
}

ol,ul {
  list-style: none;
}

q, blockquote {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
